.second-banner-style {
    background-image: url(../../image/home\ page\ banner.jpg);
    background-repeat: no-repeat !important;

    width: 100%;
    background-size: 100%;

}

.body-style {
    text-align: right !important;
}

.contact-style a {
    text-decoration: none;
    color: black;
}

.contact-style {
    background-color: white !important;
    border-radius: 40px;
}

.tag-style {
    color: darkorange !important;
}

.span-style {
    color: #75edc2 !important;
}

.type-style {
    color: #75edc2;
}

.banner-text-style {
    color: white;
}